<div *ngIf="artist">
    <h1>{{ artist.name }}</h1>
    <p>Email: {{ artist.email }}</p>
    <p>Descrição: {{ artist.profileDescription }}</p>
    <p>País: {{ artist.country }}</p>
    <p>Técnicas:</p>
    <ul>
      <li *ngIf="artist.techniques.oil">Óleo</li>
      <li *ngIf="artist.techniques.acrylic">Acrílico</li>
      <li *ngIf="artist.techniques.watercolor">Aquarela</li>
      <li *ngIf="artist.techniques.digital">Digital</li>
      <li *ngIf="artist.techniques.other">Outra</li>
    </ul>
    <img *ngIf="artist.profileImageUrl" [src]="artist.profileImageUrl" alt="Foto do perfil">

    <div *ngIf="currentUserId === artistId">
      <button (click)="logout()">Logout</button>
      <button (click)="deleteProfile()">Deletar Perfil</button>
      <button (click)="updateProfile()">Editar Perfil</button>
      <button (click)="manageArt()">Gerenciar Arte</button>
    </div>

    <h2>Artes de {{ artist.name }}</h2>
    <div *ngIf="arts.length >0">
      <div *ngFor="let art of arts" (click)="viewArt(art)">
        <img [src]="art.imageUrl" alt="{{ art.title }}">
        <h3>{{ art.title }}</h3>
      </div>
    </div>
  </div>
  