<section class="notfound-container">
    <section class="text-section">
        <img src="/assets/nomadart-logo.png" alt="">
        <h1>#NOT-FOUND</h1>
        <h3>A página que você está tentando acessar não está disponível</h3>
        <p>Verifique se você ja está logado no site ou tente novamente! <br>
        Se o problema persistir entre em contato com o suporte NomadArt:</p>
        <a href="/ajuda">Acessar Ajuda</a>
    </section>
    <section class="btn-section">
        <h3>Tente Voltar para a página inicial!</h3>
        <button (click)="navigateToHome()">Voltar para Home</button>
    </section>
</section>
