<!-- publish-art.component.html -->
<div class="publish-art-container">
  <form (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="art.title" name="title" placeholder="Título" required>
    <textarea [(ngModel)]="art.description" name="description" placeholder="Descrição" required></textarea>
    <input type="file" (change)="onFileSelected($event)" required>
    <select [(ngModel)]="art.technique" name="technique" required>
      <option value="" disabled selected>Escolha a técnica</option>
      <option value="Óleo">Óleo</option>
      <option value="Acrílica">Acrílico</option>
      <option value="Aquarela">Aquarela</option>
      <option value="Digital">Digital</option>
      <option value="Outra">Outra</option>
    </select>
    <button type="submit">Publicar</button>
  </form>
</div>
