<!-- description-art.component.html -->
<div class="description-art-container">
  <a href="/">Voltar</a>
  <section class="art-details">
    <h1>Descrição da arte</h1>
    <p>Todas as informações da arte selecionada você encontra aqui!</p>
    <h2>{{ art.title }}</h2>
    <span>Técnica utilizada: </span>
    <p>{{ art.technique }}</p>
    <div class="imagem">
      <img [src]="art.imageUrl" alt="{{ art.title }}">
    </div>
    <h3>Descrição:</h3>
    <p class="description">{{ art.description }}</p>
  </section>

  <section class="artist-details">
    <h2>Artista:</h2>
    <img *ngIf="artistProfile.profileImageUrl"  [src]="artistProfile.profileImageUrl" alt="{{ artistProfile.name }}">
    <img *ngIf="!artistProfile.profileImageUrl" src="/assets/profile-icon.png">

    <h3>{{ artistProfile.name }}</h3>
    <p>{{ artistProfile.country }}</p>
    <button (click)="viewArtistProfile()">Ver Perfil Completo</button>
  </section>

  <section class="other-arts">
  <h2>Outras artes de {{ artistProfile.name }}</h2>
    <div *ngIf="otherArts.length > 0"  class="arts-container">
      <div *ngFor="let arte of otherArts.slice(0, 3)">
        <img [src]="arte.imageUrl" alt="{{ arte.title }}">
        <div class="title-other">{{ arte.title }}</div>
      </div>
    </div>
    <button (click)="viewArtistProfile()">Ver mais</button>
  </section>
</div>
  