@media only screen and (min-width: 1025px) {
    .footer{
        background-color: #010818;
    
        display: flex;
        align-items: center;
        justify-content: space-around;
    
        bottom: 0px;
        left: 0px;
        right: 0px;
    
        padding: 5rem;

        img{
            height: 2rem;
        }
    
        h1, h3, h2, p, a{
            color: white;
        }
    }
}

@media only screen and (max-width: 1025px) {
    .footer{
        background-color: #010818;
        
        display: flex;
        align-items: start;
        justify-content: space-around;
    
        bottom: 0px;
        left: 0px;
        right: 0px;

        padding-top: 1.5rem;
        
        h1, h3, h2, p, a{
            opacity: 80%;
            color: white;
            font-size: 0.65rem;
            padding: 0.3rem;
        }
        img{
            height: 1rem;
        }
    }
}