<div class="footer">
    <div class="nomadArt">
        <img src="assets/nomadart-logo.png" alt="">
        <p>Galeria virtual voltada para artistas amadores.</p>
        <p>Obrigado por acessar!</p>
    </div>
    <div class="suport">
        <h3>Política de CopyRight:</h3>
        <a href="copyright">Acessar</a>
        <h3>Entrar em contato:</h3>
        <p>email: nomadArt@gmail.com</p>
        <p>telefone: (42) 99920-1475</p>
        <p></p>
    </div>
    <div class="social">
        <h3>Redes sociais:</h3>
        <p>Instagram: @nomadArt</p>
        <p>Twitter: @nomadArtOficial</p>
        <p>Facebook: NomadArt Oficial</p>
    </div>
</div>