<!-- manage-art.component.html -->
<div class="manage-art-container">
  <button (click)="publishArt()">Publicar Arte</button>
  <div *ngIf="arts.length > 0; else noArt">
    <div *ngFor="let art of arts" class="art-item">
      <h3>{{ art.title }}</h3>
      <img [src]="art.imageUrl" alt="{{ art.title }}">
      <button (click)="editArt(art.id)">Editar</button>
      <button (click)="deleteArt(art.id)">Apagar</button>
    </div>
  </div>
  <ng-template #noArt>
    <p>Você não possui nenhuma arte publicada.</p>
  </ng-template>
</div>
