  <h2>Gerenciamento de Arte</h2>
  <button (click)="publishArt()">Publicar Arte</button>
  <button (click)="backToProfile()">Voltar ao perfil</button>

  <div *ngIf="!artworks || artworks.length === 0">
    <p>Você ainda não publicou nenhuma arte.</p>
  </div>

  <div *ngIf="artworks && artworks.length > 0">
    <div *ngFor="let artwork of artworks">
      <img [src]="artwork.imageUrl" alt="Art Image" />
      <p>{{ artwork.title }}</p>
      <p>{{ artwork.description }}</p>
      <button (click)="editArtwork(artwork.id)">Editar</button>
    </div>
  </div>
