<div class="catalog-container">

  <div class="banner" *ngIf="!selectedTechnique">
    <section class="mensagem-container">
      <div class="text-banner">
        <h1>O que é o NomadArt?</h1>
        <p>Uma galeria virtual voltada para exposição de pinturas confeccionadas por artistas amadores!</p>
      </div>
      <button (click)="navigateToPublish()">Quero expôr minha arte <img src="assets/add-icon.png"></button>
    </section>
    <img src="assets/galery.jpg">
  </div>

  <div *ngIf="selectedTechnique" class="banner">
    <section class="mensagem-container">
      <div class="text-banner">
        <h1 *ngIf="selectedTechnique != 'Outra'">Pintura {{selectedTechnique}}</h1>
        <h1 *ngIf="selectedTechnique === 'Outra'">Descubra outras Técnicas de pintura!</h1>
        <p>{{ techniqueDetails[selectedTechnique].text }}</p>
      </div>
      <button (click)="navigateToPublish()">Quero expôr minha arte <img src="assets/add-icon.png"></button>
      </section>
    <img [src]="techniqueDetails[selectedTechnique].imageUrl" alt="{{ selectedTechnique }}">
  </div>

  <div class="filter-container">
    <h2>Filtre pela sua técnica de pintura favorita!</h2>
    <select (change)="filterArts($event)">
      <option value="">Todas as Técnicas</option>
      <option *ngFor="let technique of techniques" [value]="technique">{{ technique }}</option>
    </select>
  </div>
  
  <div class="search-bar">
    <input type="text" placeholder="Pesquise por títulos de artes" (input)="onSearchChange($event)">
    <img src="assets/search-icon.png" class="search-icon">
  </div>

  <p class="line"></p>
  <h1 class="destaques">Artes em destaque: {{selectedTechnique}}</h1>

  <div *ngIf="!filteredArts.length" class="none">
    <p>Nenhuma arte encontrada.</p>
  </div>

  <div class="art-container">
    <div *ngFor="let art of filteredArts" class="art-item" (click)="viewArt(art)">
      <img [src]="art.imageUrl" alt="{{ art.title }}">
      <div class="title-mais">
        <h3>{{ art.title }}</h3>
        <p>Clique para saber mais</p>
      </div>
    </div>
  </div>
</div>
