<div class="header"> 
    <img src="assets/nomadart-logo.png" (click)="navigateToHome()" class="logo">
    <nav class="nav-header">
        <a (click)="navigateToHome()">Home</a>
        <a (click)="navigateToSignup()" *ngIf="!isLoggedIn">Cadastro</a>
        <a (click)="navigateToSignin()" *ngIf="!isLoggedIn">Login</a>
        <a (click)="navigateToPublish()" *ngIf="isLoggedIn">Publicar</a>
        <a (click)="navigateToProfile()" *ngIf="isLoggedIn">Perfil</a>
        <img (click)="navigateToSignin()" src="assets/user-icon.png" *ngIf="!isLoggedIn">
        <img (click)="navigateToProfile()" src="assets/user-icon.png" *ngIf="isLoggedIn">
    </nav>
</div>


