@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

html, button, select, ::placeholder, input, textarea{
    font-family: "Poppins", sans-serif;
}

html{
    background-color: #E5E7EB;
}

::-webkit-scrollbar{
    width: 0;
}

*{
    padding: 0;
    margin: 0;
}