<div class="copyright-container">
    <section class="card-copyright">
        <img src="/assets/nomadart-logo.png" alt="">
        <h1>Direito de Imagem</h1>

        <h3>Imagens utilizadas na estrutura do site:</h3>
        <p> - As imagens que serviram como banner (óleo, aquarela, acrílica, etc) e 
            também como ícones de perfil foram retiradas do site FreePik.</p>
        <p>Acessar o site: <a href="https://br.freepik.com/">FreePik</a></p>
        <p> - Os ícones que servem para trazer mais compreensão e estilização para o site (apagar, editar, adicionar, etc)
            foram retirados do site de prototipação Figma, mais especificamente do plugin "Icons8".</p>
        <p>Acessar o site: <a href="https://www.figma.com/">Figma</a></p>
            <br>
        <h3>Imagens publicadas pelos artistas:</h3>
        <p>As imagens publicadas por artistas não passam por um sistema de verificação de direitos autorais,
            portanto o site NomadArt não se responsabiliza judicialmente por problemas com copyright de alguma arte. 
            <br>
            Caso exista algum problema sobre este tópico tente entrar em contato com o artista que publicou a arte por meio do seu email
            ou entre em contato com o suporte do NomadArt para encontrarmos a melhor solução.</p>
        <a href="help">Suporte NomadArt</a>
        <h1>Obrigado!</h1>
    </section>
</div>